<!DOCTYPE html>
<html>
<head>
  <title>보여줘</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
      b{
          font-size: 20px;
      }
      p{
          font-size: 17px;
      }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">메인</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/money">가위바위보</a>
    </li>
    
    {% if session['email'] %}
    <li class="nav-item">
      <a class="nav-link" href="/logout">로그아웃</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/signin">로그인</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/signup">회원가입</a>
    </li>
    {% endif %}
  </ul>
</nav>
<div class="container">
<h2>!!가위바위보 결과!!</h2>

<p>
유저 : {{ user }} <br>
컴퓨터 : {{ comp }}<br>
<b>결과 : {{ rock }}</b></p>
<div>
  {% if rock == "이겼습니다" %}
    배팅액X2 <br>
    <b>{{ bt }}</b>원을 획득 하셨습니다
  {% elif rock == "졌습니다" %}
    배팅액을 모두 잃으셨습니다.
  {% else  %}
    배팅액을 돌려드립니다.
  {% endif %}
</div>

<form action="/money" method="GET">
    <input type="submit" value="한번더">
</form> 
</div>
</body>
</html>
