<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">메인</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/money">가위바위보</a>
    </li>
    
    {% if session['email'] %}
    <li class="nav-item">
      <a class="nav-link" href="/logout">로그아웃</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/signin">로그인</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/signup">회원가입</a>
    </li>
    {% endif %}
  

  </ul>
</nav>
<div class="container">
<h2>컴퓨터와 가위바위보 하여 돈을 벌어 봐요</h2>
<form action="/free" method="POST">
  <label for="rock">가위, 바위, 보 중에 하나를 입력하세요</label>
  <input type="text" id="rock" name="rock" placeholder="가위,바위,보"><br>
  <label for="rock">배팅액 </label>
  <input type="text"  size = "5" id="bt" name="bt"placeholder="10000">
  <input type="submit" value="결과 확인">
</form> 

<p></p>
</div>
</body>
</html>
